@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  background-color: rgb(70, 0, 70);
  overflow-x: hidden;
}
.eggs {
  height: 5000px;
}